* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   background-color: #faf9f8;
   font-family: Arial;
}

#app {
   padding: 2em;
   background-color: #faf9f8;
}

@media screen and (max-width: 500px) {
   #app {
      padding: 1em;
   }
}
